.shadow{
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
}


.w-265{
    width:265px;
    height:361px;
}

.fz-18{
    font-size:18px;
}


.mt-87{
    margin-top:87px;
}

.mt-48{
    margin-top:48px;
}